.article {
  padding: 15px;
  background: #fff;
  color: #424242;
  --x-height-multiplier: 0.35;
  --baseline-multiplier: 0.179;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  line-height: 1.58;
  letter-spacing: -0.003em;
}
.article #articleNav {
  margin: 30px 0;
}
.article .article_tt {
  color: #4e4e4e;
  margin: 60px 0 40px 0;
  text-align: center;
  --x-height-multiplier: 0.363;
  --baseline-multiplier: 0.157;
  font-weight: 700;
  font-style: normal;
  font-size: 40px;
  margin-left: -2.5px;
  line-height: 1.04;
  letter-spacing: -0.028em;
}
.article figure {
  margin-bottom: 10px;
}
.article figure table {
  width: 100%;
}
.article figure .code {
  background: #eff3f5;
  padding: 0;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}
.article figure .code pre {
  margin-bottom: 0;
}
.article figure .code .line .comment {
  color: #999;
}
.article figure .code .line .keyword {
  color: #d73a49;
}
.article figure .code .line span {
  white-space: normal;
}
.article figure .gutter {
  background: #eef0f1;
  width: 28px;
}
.article figure .gutter pre {
  background: #eef0f1;
  margin-bottom: 0;
}
.article figure .gutter pre .line {
  color: #999;
  white-space: normal;
}
.article blockquote {
  border-color: #d6d6d6;
  background: #f2f2f2;
  padding: 10px 15px;
  border-left-style: solid;
  border-left-width: 10px;
  margin-bottom: 10px;
}
.article blockquote p {
  margin: 0;
}
.article blockquote p code {
  border: 0;
  background-color: #d6dbdf;
  border-radius: 4px;
  color: #2c3e50;
  padding: 2px 4px;
  white-space: nowrap;
}
.article p {
  margin: 10px 0 29px 0;
}
.article .article_tt {
  text-align: center;
}
.article img {
  margin: 30px auto;
  display: block;
  max-width: 100%;
}
.article pre {
  display: block;
  background: rgba(0,0,0,0.05);
  padding: 20px;
  white-space: pre-wrap;
  margin-bottom: 10px;
  font-family: Monaco, Menlo, Consolas, "Courier New", monospace;
}
.article code {
  font-family: Monaco, Menlo, Consolas, "Courier New", monospace;
}
.article h1 {
  font-size: 32px;
  margin: 56px 0 20px 0;
  color: #4e4e4e;
}
.article a {
  color: rgba(0,0,0,0.8);
  text-decoration: underline;
}
.article h2 {
  font-size: 26px;
  margin: 25px 0 15px 0;
  color: #4e4e4e;
}
.article ul {
  padding-left: 40px;
  margin-bottom: 10px;
}
.article ul li {
  list-style-type: disc;
}
.article ol {
  padding-left: 40px;
  margin-bottom: 10px;
}
.article ol.toc {
  padding: 0;
}
.article ol.toc li {
  list-style-type: none;
}
.article ol.toc li a {
  text-decoration: none;
}
.article ol li {
  list-style-type: decimal;
}
